* {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

button {
    border-width: 0;
    outline: 0;
    cursor: pointer;
}

.seperate {
    height: 20px;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrapper {
    background-image: url(../img/wallpaper.jpg);
    width: 100%;
    position: relative;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.screen-container {
    width: 80%;
    margin: auto;
    position: relative;
    background-image: url(../img/background.jpg);
    border-radius: 35px;
    overflow: hidden;
}

.screen-container img {
    width: 100%;
    height: 100%;
}

.screen {
    width: 90.5%;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    top: 8%;
    left: 5%;
    height: 85%;
    max-height: 500px;
    overflow: hidden;
}

.main-container {
    position: relative;
    height: 100%;
}

.content {
    position: absolute;
    width: 60%;
    height: 200px;
    top: 40px;
    left: 250px;
}

.content-left {
    width: 30%;
    height: 100%;
}

.content-right {
    width: 70%;
}

.container:hover .image {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.container {
    overflow: hidden;
    height: 100%;
}

.image {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(88, 253, 11, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(88, 253, 11, 1);
}

/*---------------------------------------------------------------------------------*/
.tile {
    width: 33.33%;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    border: none;
}

.tile:first-child {
    width: 66.66%;
}

.user {
    background-color: #5BB2FC;
}

.tile.user {
    text-align: center;
}

.skill {
    background-color: #CB70D7;
}

.love {
    background-color: #FF7A85;
}

.image-gallery {
    background-color: #FFA659;
}

.contact {
    background-color: #58EBD3;
}

.tile:hover {
    border: 1px solid #fff;
}

.modal {
    width: 80%;
    height: 90%;
    z-index: 100;
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
    animation-name: animatetop;
    animation-duration: 0.5s;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

.modal {
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#modalUser {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #fff;
    padding: 10px;
}

.usericon {
    color: #fff;
    height: 30px;
    width: 30px;
}

#modalLove {
    background-color: #FF7A85;
    padding-top: 50px;
    justify-content: center;
    box-sizing: border-box;
}

#modalLove .modal-content {
    align-self: center;
    width: 500px;
    height: 350px;
}

#modalLove .modal-content form {
    padding: 10px;
}

#modalLove .modal-content input[type="text"], #modalLove .modal-content input[type="number"], #modalLove .modal-content textarea {
    width: 100%;
    padding: 8px;
    color: gray;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #E8E8E8;
}

#modalLove input:focus {
    border: 1px solid #fff !important;
    box-shadow: 0 0 3px #fff !important;
    -moz-box-shadow: 0 0 3px #fff !important;
    -webkit-box-shadow: 0 0 3px #fff !important;
}

#modalLove .modal-content textarea {
    resize: none;
    background-color: #fff;
    color: #FF7A85;
    font-size: 22px;
}

#modalLove .modal-content input[type="submit"] {
    background-color: #fff;
    padding: 6px 15px;
    color: #78EDE4;
    font-size: 16px;
    font-weight: bold;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0px 3px 0px #E8E8E8;
}

#modalLove .title {
    color: #fff;
    margin-bottom: 20px;
}

.ajax-loader {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 1000 !important;
    width: 100px;
    height: 100px;
    display: none;
}

.ajax-loader img {
    width: 100%;
    height: 100%;
}

#skill {
    display: none;
    position: relative;
    height: 100%;
}

.skill-content {
    width: 80%;
    margin: auto;
    top: 50px;
    left: 100px;
    position: absolute;
}

.skill-content .item {
    width: 25%;
    float: left;
    box-sizing: border-box;
    height: 180px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.skill-content .item img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.skill-content .item:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#modalContact {
    background-color: #58EBD3;
    padding-top: 50px;
    justify-content: center;
    box-sizing: border-box;
}

#modalContact .modal-content {
    align-self: center;
    width: 500px;
    height: 350px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
#vertical-nav {
    width: 250px;
    height: 366px;
    position: absolute;
    top: -366px;
    left: 0;
    background-color: #2C3E50;
    display: none;
}

#vertical-nav ul {
    list-style-type: none;
}

#vertical-nav > ul > li {
    display: block;
    padding: 15px 20px;
    height: 61px;
    box-sizing: border-box;
    font-size: 20px;
}

#vertical-nav > ul > li > a {
    display: block;
}

#vertical-nav > ul > li:hover {
    background-color: #34495E;
}

#vertical-nav .submenu {
    position: relative;
}

#vertical-nav .submenu > ul {
    width: 200px;
    height: 405px;
    position: absolute;
    left: 250px;
    background-color: #2C3E50;
    bottom: 0;
    display: none;
}

#vertical-nav .submenu > ul > li {
    padding: 8px 20px;
    height: 45px;
    box-sizing: border-box;
}

#vertical-nav .submenu > ul > li:hover {
    background-color: #34495E;
}

#vertical-nav > ul > li:hover ul {
    display: block;
}

#vertical-nav > ul > li > button {
    color: #fff;
    background-color: inherit;
    font-size: inherit;
    font-family: 'Noticia Text', serif;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.lab1, .lab2, .lab3, .lab4, .lab5, .lab6, .lab7, .lab8, .lab9 {
    position: absolute;
    background-color: #3599D7;
    color: #fff;
    font-weight: bold;
}

.lab2 {
    top: 250px;
    left: 130px;
}

.lab9 {
    top: 70%;
    right: 150px;
}

.lab6 {
    top: 320px;
    left: 500px;
}

.lab1 {
    top: 130px;
    left: 100px;
}

.lab3 {
    top: 270px;
    left: 200px;
}

.lab7 {
    top: 280px;
    left: 580px;
}

.lab5 {
    top: 280px;
    left: 400px;
}

.lab8 {
    top: 380px;
    left: 670px;
}

.lab4 {
    top: 370px;
    left: 270px;
}

.btn {
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3CBCE1;
    border-width: 0;
    box-shadow: 0 3px 0px #14A6CB;
}

.btn:hover {
    background-color: #56D7ED;
    box-shadow: 0 3px 0px #39D0E5;
}

.btn .fa {
    color: #fff;
}

.btn-small {
    padding: 4px 9px;
}

.btn-large {
    padding: 1px 17px;
    font-size: 30px;
}

.lab a {
    color: #3599D7;
}

.lab span {
    color: #B80071;
}

.lab p {
    text-indent: 20px;
}

.lab ul {
    list-style-type: none;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

.taskbar {
    background-color: #101010;
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.taskbar ul {
    height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.taskbar > ul > li {
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.taskbar > ul > li > a {
    display: block;
    width: 30px;
    height: 30px;
}

.taskbar li:hover {
    background-color: rgba(51, 51, 51, 0.6);
}

.fa-chrome {
    color: #6DBEFF;
}

.fa-youtube {
    color: red;
}

.google {
    width: 40px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-width: 0;
    border-style: none;
    outline: none;
}

.bottom {
    background-color: black;
    height: 30px;
    position: fixed;
}

/*-------------------------------------------------------------------------------------------------*/

#footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mobile {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.jpg);
}

.mobile p {
    font-size: 60px;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .wrapper, .footer {
        display: none;
    }

    .mobile {
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper, .footer {
        display: block;
    }
}